*{
    margin: 0;
    padding: 0;
}

.main-content,.timer-days,.timer-hours,.timer-minutes,.timer-seconds{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
